body {
    background-color:#460202 ;
    margin-top: 40px;
    
}
.box {
    background-color: #0d8abb;
    border-radius: 5px;
    min-height: 50px;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(13, 66, 116);
     margin: auto;
     color: aliceblue;
}
section .mid {
    background-color: azure;
}
h3 {
    color: rgb(12, 12, 146);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
h6 {
    color: rgb(12, 14, 15);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
form {
    color: rgb(38, 16, 41);
    border: 2px rgb(188, 118, 68);
    padding: 30px;
    height: fit-content
}
input {
     border-radius: 1mm;
}

.msg {
    border: 1px;
    background-color: rgb(167, 181, 46);
    max-width: max-content;
    border-radius: 2px;
}
li {
    padding-top: 10px;
    padding-right: 10px;
}
